// Specific CSS for your home-page

// body {
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr;
// }


.container {
  box-sizing: border-box;
}



.card {
  margin-top: 15px !important;
  box-shadow: 2px 2px 15px rgba(128, 128, 128, 0.137) !important;
  display: grid;
  overflow: hidden;
  background:#f4f4f4;
  border-top: 15px;
  border-radius: 15px !important;

}


.card-img-top {
  border-bottom-right-radius: 15px !important;
  border-bottom-left-radius: 15px !important;
}

@media(max-width: 992px) {
  .card {
    grid-template-columns: 1fr 1fr;
  }

}

@media(max-width: 768px) {
  .card {
    grid-template-columns: 1fr;
  }
}


.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 3;
  }
  @include media-breakpoint-only(xl) {
    column-count: 3;
  }
}
